@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
:root {
	--dark: #1f1f1f;
}

body {
	font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* navigation */
nav {
	display: flex;
	justify-content: right;
	min-width: 30em;
}

.nav-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: right;
	padding: 2em;
	min-width: 33.3%;
	width: 30em;
	gap: 2em;
}

.nav-item {
	font-size: 1.6em;
	flex: 1;
	padding: 0.65em;
	border: 1px solid var(--dark);
	border-radius: 0.5em;
}

.nav-item::marker {
	content: '';
}

.nav-link {
	color: var(--dark);
	text-decoration: none;
}

/* footer */
footer {
	display: none;
}

/* info CSS */

main {
  padding: 5em;
}

.description {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.5em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin: 0 auto;
}

.card {
  border: #1f1f1f solid 1.5px;
  border-radius: 8px;
  padding: 2rem 3rem;
  max-width: 500px;
  justify-self: center;
}

.card-header {
  display: flex;
  align-items: center;
}

.profile-svg {
  margin-right: 1.5rem;
}

.card-name {
  margin-bottom: 0.3em;
}

.card-links {
  margin-top: 0;
}

.card-description {
  font-size: 1.3em;
}

@media only screen and (min-width: 768px) {
	nav {
		flex-direction: column;
	}
	.nav-container {
		margin: 0 5em;
		margin-top: 2em;
		padding: 0;
		flex-direction: row;
		width: initial;
		text-align: center;
		border-bottom: 1px solid var(--dark);
	}
	.nav-item {
		border: none;
		border-radius: 0;
		padding: 1em;
	}
	.active {
		border-bottom: 2px solid black;
	}
	/* footer */
	footer {
		display: block;
		height: 20vh;
		padding: 2em;
	}

  /* info CSS */
  .cards {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }

  
}

